@media (max-width: 568px) {
    .carousel__desc h1,
    .business__header h2,
    .about__text h4 {
        font-size: 34px !important;
    }
}
@media (min-width: 0px) and (max-width:991px){
    .navbar-expand-lg .navbar-nav .dropdown-menu:before {
        top: 33px !important;
    }
    .nav-item:hover:after {
        width: 0 !important;
    }
    
}

