@media (max-width: 568px) {
    .carousel__desc h1,
    .business__header h2,
    .about__text h4 {
        font-size: 34px !important;
    }
}
@media (min-width: 0px) and (max-width:991px){
    .navbar-expand-lg .navbar-nav .dropdown-menu:before {
        top: 33px !important;
    }
    .nav-item:hover:after {
        width: 0 !important;
    }
}
@media (min-width: 548px) and (max-width:990px) {
    #switchBtn {
        position: absolute;
        right: 10%;
        margin: 0 14px;
        top: 22px;
    }
    #switchBtn .fa-moon {
       position: absolute;
       left: -10px;
    }
}
@media (min-width: 420px) and (max-width:547px) {
    #switchBtn {
        position: absolute;
        right: 10%;
        margin: 0 14px;
        top: 22px;
    }
    #switchBtn .fa-moon {
       position: absolute;
       left: -20px;
    }
    #switchBtn .fa-sun {
       position: absolute;
       left: -30px;
    }
}
@media (min-width: 0) and (max-width:419px) {
    #switchBtn {
        position: absolute;
        right: 10%;
        margin: 0 14px;
        top: 22px;
    }
    #switchBtn .fa-moon {
       position: absolute;
       left: -30px;
    }
    #switchBtn .fa-sun {
        position: absolute;
        left: -40px;
     }
}

@media (min-width: 576px) {
    .container {
      max-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      margin-right: auto;
      margin-left: auto; } }
  
@media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; } }
  
@media (min-width: 992px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; } }
  
@media (min-width: 1200px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; } }
  
@media (min-width: 1280px) {
    .container {
      max-width: 1200px; } }